<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://unpkg.com/htmx.org"></script>
		<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
	<div>
		<nav>
			<h1>Home</h1>
			<form action="/search" method="GET">
        <input type="text" name="query" placeholder="Search for crypto" required>
        <button type="submit">Search</button>
			</form>
		</nav>
		<div id="abc123">
			<img src="https://upload.wikimedia.org/wikipedia/commons/4/46/Bitcoin.svg">
			<img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Eth-diamond-rainbow.png">
			<img src="https://upload.wikimedia.org/wikipedia/en/5/53/Shiba_Inu_coin_logo.png">
		</div>
		<div>
			{{.respBody}}
		</div>
		<footer>
			<ul>
				<li>github</li>
				<li>linkedin</li>
				<li>about</li>
			</ul>
			<ul>
				<li>coinmarketcap</li>
				<li>cointmarketcapdeveloper</li>
				<li>cryptocurrency books</li>
			</ul>
			<ul>
				<li>williammejia.com</li>
			</ul>
		</footer>
	</div>
</body>
</html>
