<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://unpkg.com/htmx.org"></script>
		<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
	<div>
		<nav>
			<h1>Home</h1>
			<form hx-get="/search" method="GET" on:submit="false">
        <input type="text" name="query" placeholder="Search for crypto">
        <button type="submit">Search</button>
			</form>
		</nav>
		<div id="abc123">
			<div>
				<img src="https://upload.wikimedia.org/wikipedia/commons/4/46/Bitcoin.svg">
				<div>
					<p>Name: {{.BTC.Name}}</p>
					<p>Symbol: {{.BTC.Symbol}}</p>
					<p>Price: {{.BTC.Quote.Price}}</p>
				</div>
			</div>
			<div>
				<img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Eth-diamond-rainbow.png">
				<div>
					<p>Name: {{.ETH.Name}}</p>
					<p>Symbol: {{.ETH.Symbol}}</p>
					<p>Price: {{.ETH.Quote.Price}}</p>
				</div>
			</div>
			<div>
				<img src="https://upload.wikimedia.org/wikipedia/en/5/53/Shiba_Inu_coin_logo.png">
			</div>
		</div>
		<footer>
			<ul>
				<li>github</li>
				<li>linkedin</li>
				<li>about</li>
			</ul>
			<ul>
				<li>coinmarketcap</li>
				<li>cointmarketcapdeveloper</li>
				<li>cryptocurrency books</li>
			</ul>
			<ul>
				<li>williammejia.com</li>
			</ul>
		</footer>
	</div>
	<script>
		console.log("Testing")
	</script>
</body>
</html>
